.container {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  grid-template-columns: auto auto auto;
  padding: 13.5vh;
}

.cardDetail {
  background: grey;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
